<div class="nav">
    <p>Max Corp.</p>
    <ul class="nav-list">
        <li routerLink="/Home" routerLinkActive="active">Home</li>
        <li routerLink="/Form" routerLinkActive="active">Form</li>
        <li routerLink="/voter-component" routerLinkActive="active">voter-component</li>
        <li routerLink="/Output" routerLinkActive="active">&commat;Output</li>
        <li routerLink="/Modal" routerLinkActive="active">Modal HTML</li>
        <li routerLink="/Counter" routerLinkActive="active">Counter Component</li>
        <li routerLink="/TopUp-Account" routerLinkActive="active">Account topUp</li>
        <li routerLink="/Dotifier-pipe" routerLinkActive="active">Dotifier Pipe</li>
    </ul>
</div>