<div class="nav">
    <p>Max Corp.</p>
    <ul class="nav-list">
        <li routerLink="/Home">Home</li>
        <li routerLink="/Form">Form</li>
        <li routerLink="/voter-component">voter-component</li>
        <li routerLink="/Output">&commat;Output</li>
        <li routerLink="/Modal">Modal HTML</li>
        <li routerLink="/Counter">Counter Component</li>
        <li routerLink="/TopUp-Account">Account topUp</li>
        <li routerLink="/Dotifier-pipe">Dotifier Pipe</li>
    </ul>
</div>